body {
  background: rgb(193, 221, 255);
}

/* General */
.heading {
  margin: 3rem 0 3rem 5rem;
  font-size: 2.5rem;
}

/* Layout */
.main_heading {
  text-align: center;
}
.n_link {
  color: rgb(130, 3, 90);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
}
.n_link_auth {
  color: rgb(49, 2, 125);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
}
/* Index */
.auction_price_winner {
  font-weight: bold;
  font-size: large;
  background: rgb(1, 174, 1);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15%;
}
.auction_price {
  font-weight: bold;
  font-size: large;
  display: inline-block;
  background: rgb(139, 216, 254);
  padding: 5px 10px;
  border-radius: 15%;
}

/* Comments */
.comment_created {
  font-size: smaller;
  text-align: right;
  color: rgb(211, 210, 210);
  font-style: italic;
}

/* Bids */
.current_price {
  font-weight: bold;
  font-size: large;
  display: inline-block;
  background: rgb(41, 159, 30);
  padding: 10px;
  border-radius: 15%;
  color: white;
}
