{% extends "auctions/layout.html" %} 
{% block body %}

<h2 class="heading">Active Listings</h2>

<div class="container mt-3">
  <div class="row">
    {% for listing in listings %}
      {% if listing.is_open %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <a href="{% url 'listing' listing.id %}">
            {% if listing.image_url %}
              <img src="{{ listing.image_url }}" class="card-img-top" alt="..." />
            {% else %}
              <img
                src="https://via.placeholder.com/300x220"
                class="card-img-top"
                alt="..."
            />
            {% endif %}
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
            <p class="card-text">{{ listing.description }}</p>
            {% if user == listing.current_winner %}
              <p class="auction_price_winner">{{ listing.current_price }}</p>
            {% else %}
              <p class="auction_price">{{ listing.current_price }}</p>
            {% endif %}
            <p class="card-text">
              Created at:
              <span class="text-muted">{{ listing.created_at }}</span>
            </p>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
