{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ listing.title }}</h2>
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" alt="..." class="img-fluid" />
                {% else %}
                    <img src="https://via.placeholder.com/600x440" alt="..." class="img-fluid" />
                {% endif %}
                
                <p>{{ listing.description }}</p>
                <p>Created at: <span class="text-muted">{{ listing.created_at }}</span></p>

                {% if is_owner %}
                    <form action="{% url 'close' listing.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Delete Listing">
                    </form>
                {% endif %}
            </div>
            
            <div class="col-md-4">
                <p class="badge badge-success">{{ listing.current_price }}</p>
                {% if user.is_authenticated %}
                    <form action="{% url 'place_bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" type="number" name="bid_amount" placeholder="Bid amount">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Place Bid">
                    </form>

                    <form action="{% url 'watchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        <button type="submit">
                            {% if is_watching %}
                                Watching
                            {% else %}
                                Add To Watchlist
                            {% endif %}
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}