{% extends "auctions/layout.html" %}

{% block title %}
    <title>{{ listing.title }}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ listing.title }}</h2>
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" alt="..." class="img-fluid" />
                {% else %}
                    <img src="https://via.placeholder.com/600x440" alt="..." class="img-fluid" />
                {% endif %}
                
                <p>{{ listing.description }}</p>
                <p>Created at: <span class="text-muted">{{ listing.created_at }}</span></p>

                {% if listing.user == user %}
                    <form action="{% url 'close' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="Close Listing">
                        {% if not listing.is_open %}
                            <button class="btn btn-info">Closed!</button>
                        {% else %}
                            <button type="submit" class="btn btn-danger">Close Listing</button>
                        {% endif %}    
                    </form>
                {% endif %}
            </div>
            
            <div class="col-md-4">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="current_price">{{ listing.current_price }}$</p>

                    {% if user.is_authenticated and listing.is_open %}
                        <form action="{% url 'watchlist' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                            <button type="submit" class="btn btn-primary my-3">
                                {% if is_watching %}
                                    Watching
                                {% else %}
                                    Add To Watchlist
                                {% endif %}
                            </button>
                        </form>
                    {% endif %}
                </div>

                {% if user.is_authenticated and listing.is_open %}
                    <form action="{% url 'place_bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group d-flex">
                            <input class="form-control" type="number" name="bid" placeholder="Bid amount">
                            <input class="btn btn-success" type="submit" value="Place Bid">
                        </div>
                        
                        {% if listing.is_open and listing.current_winner == user %}
                        <span class="text-success font-italic">*You are the highest bidder</span>
                        {% elif not listing.is_open and listing.current_winner == user %}
                        <p class="text-success font-bold">You have won this auction!</p>
                        {% endif %}
                        <p class="text-muted font-italic">*Your bid should be at least the current price</p>
                    </form>
                {% elif user.is_authenticated and not listing.is_open %}
                    {% if listing.current_winner == user %}
                        <p class="text-success font-bold">You have won this auction!</p>
                    {% else %}
                        <p class="text-danger font-bold">You have lost this auction!</p>
                    {% endif %}
                {% endif %}
                <div class="container mt-5 py-2 bg-light">
                    <h3>Comments</h3>
                        {% if listing.comments.all %}
                            {% for comment in listing.comments.all %}
                                    <div class="bg-primary rounded-lg px-2 my-2">
                                        <p class="m-0 pb-2">{{ comment.user }}</p>
                                        <p class="m-0 text-white">{{ comment.content }}</p>
                                        <div class="d-flex justify-content-end">
                                            <span class="comment_created">{{ comment.created_at }}</span>
                                        </div>
                                    </div>
                            {% endfor %}
                        {% else %}
                            <p>No comments yet</p>
                        {% endif %}
                    {% if user.is_authenticated %}
                    <form action="{% url 'comment' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group d-flex">
                            <textarea class="form-control" name="content" placeholder="Comment"></textarea>
                            <input class="btn btn-primary" type="submit" value="Post">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}