{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Watchlist</h2>
        {% if listings %}

            {% for listing in listings %}  
                <div class="container">
                    <a href="{% url 'listing' listing.id %}">
                        {% if listing.image_url %}
                        <img src="{{ listing.image_url }}" alt="">
                        {% else %}
                        <img src="https://via.placeholder.com/300x220" alt="">
                        {% endif %}
                    </a>
                    <p>{{ listing.title }}</p>
                    <p>{{ listing.current_price }}</p>
                    <form action="{% url 'watchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        <input type="submit" value="Remove from watchlist">
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}